@import url(style.common.css);


/* CALENDAR */

.fullwidth-list .component table.calendar_table  tbody tr.month_heading td {
        background-color: #266591;
	color: black;
}

.month_heading {
	background-color: #0A3F67;
}

.day_header {
	background-color: #fff;
	height:20px;
}

.fullwidth-list .component_body table tr.day_header td {
	vertical-align: middle;
	font-size: 12px;
}

.day_number {
        font-weight: bold; 
        color: #0A3F67;
	font-size: 160%;
}

.before_after_month, .not_todays_date, .todays_date {
        text-align: left;
}

.not_todays_date_weekend, .todays_date_weekend,
.fullwidth-list .component table.calendar_table tbody tr td.todays_date_weekend,
.fullwidth-list .component table.calendar_table tbody tr td.not_todays_date_weekend
 {
	text-align: left;
	background: #EEEEEE;
	vertical-align: top;
}


.link_log_hours {
	padding-top: 8px;
	padding-left: 12px;
}

.log_hours{
	color: #000000;
}


.fullwidth-list .component table td.before_after_month {
    background: #EEEEEE;
    color: #666666;
    vertical-align: top;
}

.fullwidth-list .component table td.not_todays_date {
    background: #FFFFFF;
    vertical-align: top;
}

.fullwidth-list .component table td.todays_date {
    background: #AABBCC;
    vertical-align: top;
}

.fullwidth-list .component table.list td.list-button-bar {
        height:30px;
        vertical-align: middle;
}

.before_after_month .day_number {
    color: #999999;
}

.calendar_hourly_absences .component .component_header_rounded {
	 visibility: hidden;
}

.fullwidth-list .component .double_calendar td {
	vertical-align: top;
}

.fullwidth-list .component .double_calendar table {
	width: 440px;
}

/*  START: TEST WITH INCLUDE STYLE.LEFT.CSS */

.filter-list {
   position: absolute;
   left: -40px;
   top: 0px;
}

.fullwidth-list {
	margin-left: 253px;
	margin-right: 20px;
	margin-top: 15px;
	min-height: 400px;
	visibility: hidden;
}

.fullwidth-list-no-side-bar{
   margin-left: 10px;
   margin-right: 0px;
}

.filter-button {
   position: absolute;
   right: 2px;
}

/*  END: TEST WITH INCLUDE STYLE.LEFT.CSS */

		
body, p, td {
   font-family: verdana, arial, helvetica, sans-serif; 
   font-size: 8pt;
   color: #000000;
}

body {
   background-color: #fff;  
}

a {
  color: #2e2e2e;
}


img {
	border-style: none;
}

a img {
	text-decoration: none;
	border: 0 none;
}

a:hover {
	background:transparent none repeat scroll 0%;
}


/* ---------    START: HEADER ------------------------- */

developer-support-adp-box-off {
    display: none;
}

.logotext {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    top: 1pt;
}

.logobracket {
    position: relative;
    color: #adde6b;
    top: -1pt;
}

#monitor_frame {
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    background: #FFF;
}

#header_class {
    background-color: #FFF;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding: 0px; 
    position: relative; 
    border-top-width: 0px; 
    background-position: 0px -10px;
}

#header_settings_tab {
   background: #FFF;
   float:left;
}

#header_settings {
    float: right;
    font-size: 8pt;
    top: 5px;
    color: #666;
    width: 380px;
}

.header_line {
    background: #fff;
    float: right; 
    top: 0px;
}

.header_buttons, .header_buttons a, .header_buttons a:link {
    color: #666;
    text-decoration:none;
}

.header_logout, .header_logout a, .header_logout a:link  {
    font-weight: bold; 
    text-decoration:none;
    color: #990000;
}

#header_settings A {
    color: #666;
    text-decoration:none;
    font-weight: normal;
}
#header_skin_select {
    color: #666;
    font-size: 8pt;
    position: relative;
	display:block;
    /*top: 25px;
    right: 118px;*/
	left: 25px;
	width:120px;
	height:25px;
}

#header_skin_select form {
    display: inline;
    position: relative;
    font-size: 8px;
	margin:0;
	padding:0;
}

#header_skin_select input {
    display: none;
    margin:0 0 0 0;
}

#header_skin_select select {
    background-color:#CFDBFF;
    border:1px solid #666666;
    color:#666666;
    font-family: Arial;
    font-size:8pt;
    height: 18px;
    width: 90px;
	display:inline;
}

#header_logo {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 16pt;
    font-family: tahoma,sans-serif;
    font-weight: bold;
    color: #ffffff;
    z-index: 101;
    width: 50%;
}

#header_plugin_left {
  position: absolute;
  left: 250px;
  top: 20px;
  z-index: 200;
  float:left;
}

#header_plugin_right {
  position: absolute;
  left: 250px;
  top: 20px;
  z-index: 200;
  float:left;
}

#header_logo A IMG {
   border: 0;
   height: expression( this.scrollHeight > 62 ? "63px" : "auto" ); /* sets max-height for IE */
}

#main {
    position: relative;
    z-index:2; 
}

#main_portrait_and_username {
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 1;
    visibility: hidden;
    height: 46px;
}

#main_portrait {
    float: left;
    visibility: hidden;
}

#main_portrait IMG {
   border: 1px solid #7aa054;
   margin-right: 1em;
   height: 0px;	 
   visibility: hidden;
}

#main_username {
   font-size: 16pt;
   text-align: center;
   
}

.main_users_and_search {
    float:right;
    padding-top:5px;
    width:auto;
    height:23px;
    font-weight: normal;
}

#main_search_v4 {
    float:left;
    padding-right: 5px;
    color: #666666;
    font-size: 8pt;
    text-decoration:none;
}

#main_search_v4 INPUT {
   color: #666666;
   font-size: 8pt;
   text-decoration:none;
}

#main_search {
    float:right;
    margin-top:5px;
}

.main_users_online { 
   color: #666666;
   float:left;
   padding-right: 1em;
}

.main_users_online A,
#main_search INPUT {
   color: #666666;
   font-size: 8pt;
   text-decoration:none;
}

#main_search INPUT {
   position: relative;
   top: -3px;
}

#main_header {
    font-weight: bold;
    margin-bottom: 20px;
    /* height: 25px; */
    background: #fff;
    width: 100%;
    color:#000000;
    /*border-bottom: 1px solid #24618E; */
    display: block;
    position: relative;
    z-index:500;
}

#main_header_v4 {
    font-weight: bold;
    margin-bottom: 20px;
    height: 25px; 
    background: #fff;
    width: 100%;
    color:#000000;
    border-bottom: 1px solid #24618E; 
    display: block;
    position: relative;
}

/* ---------    START: NAV_BAR_MAIN_v4 ------------------------- */

#navbar_main_wrapper_v4 {
    position: relative;
    left: 0px;
    top: 0px;
    background-color: #2E2E2E;
    color: #000000;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 8pt;
}

#navbar_main_wrapper_v4 ul {
    margin:0;
    padding:10px 8px 0px 0px;
    list-style:none;
    overflow: visible;
    z-index: 500;
    position: relative;
}

#navbar_main_v4 {
    width:100%;
    background:#fff;
    line-height:normal;
    border-bottom:1px solid #24618E;
    height:22px;
    left:0px;
}

#navbar_main_v4 li {
    display:inline;
    margin:0;
    padding:0;
}

#navbar_main_v4 li.unselected a {
    color: #666;
    float:left;
    height:auto;
}

#navbar_main_v4 li.selected a {
    background-color: #fff;
    background-position:0% -42px;
    height:auto;
    /*float:none;position:static;z-index:0;display:inline;;*/
}

#navbar_main_v4 li.selected a span {
    color: #fff;					 
    background-position:100% -42px;
    /*float:none;position:static;z-index:0;display:inline;;*/
}	

#navbar_main_v4 a {
    float: left;
    background: url('/intranet/images/navbar_saltnpepper/tableftJ.gif') no-repeat left top;
    margin: 0;
    padding: 0 0 0 5px;
    text-decoration: none;
}

#navbar_main_v4 a span {
    float: left;
    display: block;
    background: url('/intranet/images/navbar_saltnpepper/tabrightJ.gif') no-repeat right top;
    padding: 4px 15px 4px 8px;
    color: #24618E;
    margin-left:-2px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#navbar_main_v4 a span  {float:none;}
/* End IE5-Mac hack */

#navbar_main_v4 a:hover {
    color:#FFF;
    background-position:0% -42px;
}

#navbar_main_v4 a:hover span {
    background-position:100% -42px;
    color:#FFF;
}


/* ---------    END: NAV_BAR_MAIN_V4 ------------------------- */


/* ---------    START: NAV_BAR_MAIN ------------------------- */

#navbar_main_wrapper {
    position: relative;
    left: 0px;
    top: 0px;
    background-color: #2E2E2E;
    color: #000000;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 8pt;
    z-index:501;
}

/* Menu box
===================*/

#navbar_main {
    position:relative;
    z-index:502;
    width:100%;
    padding:10px 8px 0px 0px;
    background:#fff;
    line-height:normal;
    border-bottom:1px solid #24618E;
    /* Removed due to avoid probs w/ box-sizing: border-box
    height:22px; */
    left:0px;
}

#navbar_main ul {
    border:1px solid #24618E;
    padding:4px 0;
    background:#fff;
    -moz-box-shadow:0 5px 9px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 5px 9px rgba(0,0,0,0.2);
    box-shadow:0 5px 9px rgba(0,0,0,0.2);
}

/* Menu items
===================*/

#navbar_main a {
    padding:0 0 0 5px;
    background:url('/intranet/images/navbar_saltnpepper/tableftJ.gif') no-repeat left top;
    color:#24618E;
    text-decoration:none;
}

#navbar_main a span {
    display:inline-block;
    margin-left:-2px;
    padding:4px 15px 4px 8px;
    background:url('/intranet/images/navbar_saltnpepper/tabrightJ.gif') no-repeat right top;
}

#navbar_main a:hover, #navbar_main a:focus, #navbar_main a:active,
#navbar_main a.highlighted {
    background-position:0% -42px;
    color:#fff;
}

#navbar_main a:hover span, #navbar_main a:focus span, #navbar_main a:active span,
#navbar_main a.highlighted span {
    background-position:100% -42px;
}

#navbar_main a.has-submenu span {
    padding-right:20px;
}

#navbar_main li.selected > a {
    color:#fff;
    background-position:0% -42px;
}

#navbar_main li.selected > a span {
    background-position:100% -42px;
}

#navbar_main ul a {
    background:transparent;
    color:#24618E;
    padding:5px 15px;
}

#navbar_main ul a span {
    display:inline;
    background:transparent;
    margin:0;
    padding:0;
}

#navbar_main ul a:hover, #navbar_main ul a:focus, #navbar_main ul a:active,
#navbar_main ul a.highlighted {
    background:#24618E;
    color:#fff;
}

#navbar_main ul a:hover span, #navbar_main ul a:focus span, #navbar_main ul a:active span,
#navbar_main ul a.highlighted span {
    background-position:100% -42px;
}

#navbar_main ul a.has-submenu {
    padding-right:24px;
}

#navbar_main ul a.has-submenu span {
    padding-right:0;
}

#navbar_main ul li.selected > a {
    background:#24618E;
    color:#fff;
}

/* Sub menu indicators
===================*/

#navbar_main a span.sub-arrow {
    position:absolute;
    right:9px;
    top:50%;
    margin:-1px 0 0 0;
    padding:0;
    background:transparent;
    width:0;
    height:0;
    overflow:hidden;
    border-top:4px solid; 
    border-left:4px dashed transparent;
    border-right:4px dashed transparent;
}

#navbar_main ul a span.sub-arrow {
    right:12px;
    margin-top:-4px;
    border-left:4px solid; /* tweak size of the arrow */
    border-top:4px dashed transparent;
    border-right:0;
    border-bottom:4px dashed transparent;
}

/* Scrolling arrows containers for tall sub menus
===================*/

#navbar_main span.scroll-up, #navbar_main span.scroll-down {
    position:absolute;
    display:none;
    visibility:hidden;
    overflow:hidden;
    background:#fff;
    height:16px;
    /* width and position will be automatically set by the script */
}

#navbar_main span.scroll-up-arrow, #navbar_main span.scroll-down-arrow {
    position:absolute;
    top:-2px;
    left:50%;
    margin-left:-6px;
    /* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you
       width:0;
       height:0;
       overflow:hidden;
       border-width:6px; /* tweak size of the arrow */
    border-style:dashed dashed solid dashed;
    border-color:transparent transparent #24618E transparent;
}

#navbar_main span.scroll-down-arrow {
    top:6px;
    border-style:solid dashed dashed dashed;
    border-color:#24618E transparent transparent transparent;
}

/* ---------    END: NAV_BAR_MAIN ------------------------- */



/* ---------    START: NAV_BAR_SUB ------------------------- */

#navbar_sub_wrapper {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-bottom: 1px solid #24618E;
}

#navbar_sub {
    font-size:100%;
    position: absolute;
    right: 0;
    margin: 0;
    bottom: -2px;
    list-style: none;
    line-height: normal;
}

#navbar_sub_wrapper ul {
    margin:0;
    padding:10px 10px 2px 1px;
    list-style:none;
}

#navbar_sub li {
    display:inline;
    margin:0;
    padding:0;
}

#navbar_sub li.unselected a {
    color: #666;
    float:left;
    height:auto;
    padding:0pt 0pt 0pt 3px;
}

#navbar_sub li.selected a {
    background-color: #fff;
    background-position:0% -42px;
    height:auto;
    padding:0pt 0pt 0pt 3px;
    /*float:none;position:static;z-index:0;display:inline;;*/
}
	
#navbar_sub li.selected a span {
    color: #fff;					 
    background-position:100% -42px;
    /*float:none;position:static;z-index:0;display:inline;;*/
}
			
#navbar_sub a {
    float:left;
    background:url('/intranet/images/navbar_saltnpepper/tableftJ.gif') no-repeat left top;
    margin:0;
    padding:0 0 0 3px;
    text-decoration:none;
}

#navbar_sub a span {
    float:left;
    display:block;
    background:url('/intranet/images/navbar_saltnpepper/tabrightJ.gif') no-repeat right top;
    padding:5px 15px 4px 6px;
    color:#24618E;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#navbar_sub a span {float:none;}
/* End IE5-Mac hack */

#navbar_sub a:hover {
    color:#FFF;
    background-position:0% -42px;
}
#navbar_sub a:hover span {
    background-position:100% -42px;
    color:#FFF;
}
  
/* ---------------    END: NAVBAR_SUB  ----------------------------------     */

#alphabar {
	position: absolute;
	left: 290px;
	margin: 0;
	bottom: -1px;
	list-style: none;
	line-height: normal;
	top: -20px;
}

#navbar_sub LI, #alphabar LI {
   margin: 0;
   float: left;
}
#alphabar LI A {
   color: #666;
   position: relative;
   display:block;
   text-decoration:none;
   font-weight:bold;
   margin:0;
   padding:0.25em 0.5em;
   top: -4px;
}

#navbar_sub LI.selected, 
#navbar_sub .navbar_selected, 
#alphabar LI.selected, 
#alphabar .navbar_selected {
	background: #ffffff;
		    
}

#navbar_sub LI.selected A,
#alphabar LI.selected A {
	color: #2e2e2e;
}

#navbar_sub LI.unselected A
#alphabar LI.unselected A {
	color: #2e2e2e;
}

#main_title, #main_context_bar, #whosonline_class {
  float: left;
  margin-top:3px;
  position:relative;
}

#main_title {
  height:18px;
  font-size: 10pt;
  color: #666666;		
}

#main_context_bar, #contextbar {
    display: none; 
}

.admin-menu {
   position: absolute;
   top: 20px;
   left: 30px;
   background-color: #fff;
   color: #fff;
   width: 110px;
}

.admin-menu ul {
   list-style: none;
   padding-left: 5px;
}

.admin-menu a {
   text-decoration: none;
   color: #000;
}
.admin-menu a.selected {
   font-weight: bold;
}

.admin-menu p {
   font-size: 10pt;
   font-weight: bold;
   color: #000;
   padding-left: 5px;
}

#admin-content {
   margin-left: 125px;
   overflow: auto;
}


#slave {
    background: #ffffff;
    position:relative;
    padding: 0px;
    position: relative;
    border-bottom-width: 0px;
}

#slave_content {
    position:absolute;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
    border: 1px #999;
    visibility: hidden;
}


#footer {
  text-align: center;
  margin-top: 1em;
  position: relative;
}

#footer, #footer a {
        color: #24618E;
        /* negative z-index ensures that buttons in left sidebar remains accessible */
        z-index: -20;
}


/* **********************************************   COMPONENTS ***************************** */ 

.component {
	/* position: relative; */ 
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 0;
}
.component_header_rounded {
  background-color: #E1E2E1;
  color: #000000;
  border: solid 1px #CCCCCC;
}


.component_header {
	top: 5px;
	/* position: relative; */ 
	height: 25px;
	padding-left: 3px;
}


.component_title {
	/* position: relative; */ 
	left: 2pt;
	float: left;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 3px;
	z-index: 2;
}

.component_icons {
	float: right;
	padding-top: 3px;
	z-index: 1;
}


.component_icons a,
.component_icons div.icon_seperator {
  float: left;
  margin-left: 2pt;
  margin-right: 2pt;
  color: #ffffff;
  font-size: 50%;
  text-decoration: none;
}

/* component icons */
.component_icons .icon_maximize {
  display: block;
  width: 15px;
  height: 15px;
  background: url('/intranet/images/navbar_default/arrow_comp_maximize.png') no-repeat;
  text-indent: -5000px;
}
.component_icons .icon_minimize {
  display: block;
  width: 15px;
  height: 15px;
  background: url('/intranet/images/navbar_default/arrow_comp_minimize.png') no-repeat;
  text-indent: -5000px;
}
.component_icons .icon_left {
  display: block;
  width: 15px;
  height: 15px;
  background: url('/intranet/images/navbar_default/arrow_comp_left.png') no-repeat;
  text-indent: -5000px;
}
.component_icons .icon_right {
  display: block;
  width: 15px;
  height: 15px;
  background: url('/intranet/images/navbar_default/arrow_comp_right.png') no-repeat;
  text-indent: -5000px;
}
.component_icons .icon_up {
  display: block;
  width: 15px;
  height: 15px;
  background: url('/intranet/images/navbar_default/arrow_comp_up.png') no-repeat;
  text-indent: -5000px;
}
.component_icons .icon_down {
  display: block;
  width: 15px;
  height: 15px;
  background: url('/intranet/images/navbar_default/arrow_comp_down.png') no-repeat;
  text-indent: -5000px;
}
.component_icons .icon_close {
  display: block;
  width: 15px;
  height: 15px;
  background: url('/intranet/images/navbar_default/comp_delete.png') no-repeat;
  text-indent: -5000px;
}
.component_icons .icon_wrench {
  display: block;
  width: 15px;
  height: 15px;
  background: url('/intranet/images/navbar_default/wrench.png') no-repeat;
  text-indent: -5000px;
}
.icon_wrench_po img {
	width: auto;
	height: 10px;
	margin-left: 1px;
}
.component_icons .icon_help {
  display: block;
  width: 15px;
  height: 15px;
  background: url('/intranet/images/navbar_default/help.png') no-repeat;
  text-indent: -5000px;
}
.component_icons .icon_config {
  display: block;
  width: 15px;
  height: 15px;
  background: url('/intranet/images/navbar_default/config.png') no-repeat;
  text-indent: -5000px;
}
.component_icons .icon_seperator {
  width: 1px;
  height: 15px;
  background: url('/intranet/images/component-seperator.gif') no-repeat;
  text-indent: -5000px;
  background-color: #7aa054;
}

.component_clear {
  clear: both;
}

.component_body {
	border-left: solid 1px #EEEEEE;
	border-right: solid 1px #EEEEEE;
	border-bottom: solid 1px #EEEEEE;
	padding-top: 10px;
	padding-right: 3px;
	padding-bottom: 10px;
	padding-left: 5px;
	overflow: visible;
        min-height: 0;
}

.component_footer {
  position: relative;
  border: solid 1px #000000;
  height: 10px;
  color: #ffffff;
  display: none;
}

.component_footer_hack, .footer_hack {
  position: relative;
  z-index: 101;
  /* border-top: solid 3px #fff; */
  height: 3px;
  top: -3px;
  width: 100%;
  display: inline-block;
}

.component-parking {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #336699;
  z-index: 200;
  width: 300px;
  border-bottom: 1px #000 solid;
  border-left: 1px #000 solid;
  color: #fff;
}

.component-parking ul {
  padding-left: 2em;
  display: none;
}

.component-parking a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.component-parking-handle {
  cursor: pointer;
  font-size: 50%;
  overflow: hidden;
}

.fullwidth-list .component table td {
	padding: 0px 2px 0px 2px;
	/* vertical-align: middle;*/
}

.fullwidth-list .component table.month_header td {
    background:#266591 none repeat scroll 0 50%;
    color:#000000;
    font-size:9pt;
    font-weight:bold;
    padding:5px 4px 5px 2px;
}

.fullwidth-list .component table.month_header td a {
    color:#FFF;
}

.fullwidth-list .component table.month_header {
    width: 100%;
}

.table-display td {
    padding: 1px;
}


.list td.rowtitle, .table-header, .cal-month-title-text {
    font-size: 10pt; 
    color: #2e2e2e;
    /* background-color: #cccac1; */ 
    background-color: #E1E2E1; 
    font-weight: bold;
}

.cal-table-display {
    width: 100%
}


#position_filestorage_view_files {
    margin-left: 45px;
    margin-top: 20px;
}


/* Sidebar Filter */

#sidebar-close-button {
    background-image: url("/intranet/images/navbar_default/nav-hamburger-active.png");
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    height: 23px;
    margin-right: 5px;
    margin-top: 5px;
    width: 23px;
}

.filter {
    overflow:hidden !important;
    position: absolute;
    left: 0px;
    top: -200px;
    width: 243px;
    border: 1px solid #999;
    background-color: #fff;
    margin:15px 5px 10px;
}

#sideBarTab {
    visibility:visible;
    height:137px;
    width:28px;
    position:absolute;
    left: 7px;
    top: -185px;
    outline:0
}

.filter-block {
    padding: 0px 3px 3px 3px;
}

.filter-button {
   position: absolute;
   top: -5px;
   left: 245px;
   width: 15px;
   height: 15px;
   cursor: pointer;
   z-index: 101;
}

.filter-block .form-label, 
.filter-block .form-widget {
   background-color: #fff;
}

.filter-block select {
    width: 134px;
    font-family: inherit;
    font-size: 8pt;
    border: solid #999999 1px;
    padding:2px;
    margin-top: 2px;
    background-color: #fff;
}

.filter-title {
   font-size: 10pt;
   font-weight: bold;
   width: 100%;
   padding-top: 5px;
   padding-bottom: 5px;
}

.filter hr {
   border: 0;
   height: 1px;
   color: #999999;
   background-color: #999999;
   width: 244px;
}

.filter-table tbody tr td {
	height: 30px;
}

/* MAIN Window */

.fullwidth-list table td {
 	padding: 3px;
}

div#fullwidth-main {
	float: left;
}

div#fullwidth-components {
        float: left;
	width: 200px;
}

.table_list_page,
.table_component, 
.table_list_page, .fullwidth-list .component .table_list_page tr td 
{
	padding: 2px 5px;
}

.table_list_page tr td.rowtitle, 
.table_list_page tbody tr th.list, 
.list tr.list-header,
.list-table.list-header, 
.list th.list, 
.cal-table-display tbody tr td.cal-month-title-text, 
.table_component th.list-header td.list, 
.table_component tbody tr th.list,
.table_component tbody tr td.rowtitle, 
td.rowtitle,
th.rowtitle {
   color:#000;
   font-weight:bold;
   padding:3px;
   background:#E1E2E1 none repeat scroll 0% 50%;
   border-bottom:1px solid #fff;
   padding:5px 4px 5px 2px;
}
 
.table_list_page tr.roweven,
.table_list_page tr.rowodd,
.table_list_page tr.row_undefined,
.table_component tr.roweven,
.table_component tr.rowodd,
.list th tr td {
   border-bottom:1px solid #fff;
   border-top:1px solid #fff;
   background:#F4F4F4 url('/intranet/images/navbar_saltnpepper/gradback_light_grey.gif')
   repeat-x;
   padding: 4px;
}

.table_list_page tr td {
   padding: 5px 5px 5px 5px;
}


.table_list_page thead tr td,
.table_list_page thead tr.rowtitle th {
	background:#E1E2E1 none repeat scroll 0% 50%;
	border-bottom:13px none #000000;
	height:auto;
	padding:5px 4px 5px 2px;
	color: #000;
	font-weight: bold;
}

.table_list_page tbody tr.no_hover,
.table_list_page tbody tr.no_hover td, 
.table_list_page tbody tr.no_hover td.rowtitle, 
.table_list_page tbody tr.no_hover td.rowodd,
.table_list_page tbody tr.no_hover td.rowplain,
.table_list_page tbody tr.rowplain,
.table_list_page tbody tr.rowplain td,
.table_list_page tbody tr:hover.rowplain,
.table_list_page tbody tr:hover.rowplain td 
{
   background:#E1E2E1;
}

.table_list_page tbody tr td.rowtitle a:link {
	color: #000000;
	font-size: 9pt;
}

.table_list_page tbody tr.rowwhite,
.table_list_page tbody tr.rowwhite td,
.table_list_page tbody tr.rowwhite td.rowtitle,
.table_list_page tbody tr.rowwhite td.rowodd,
.table_list_page tbody tr.rowwhite td.rowplain,
.table_list_page tbody tr:hover.rowwhite,
.table_list_page tbody tr:hover.rowwhite td
{
   background:#fff;
}

.table_interim_title {
	font-weight: bold;
	color:#000;
}

.table_list_page tfoot tr td, .table_component tfoot tr td, .list tfoot tr td {
   /* background:#e8edff; */
   background:#ffffff;
   color:#99c;
}

.table_list_page tbody tr:hover.roweven td,
.table_list_page tbody tr:hover.rowodd td,
.table_list_page tbody tr:hover.row_undefined td,
.table_component tbody tr:hover td, 

.list tbody tr:hover td {
   background:#ECECEC url('/intranet/images/navbar_saltnpepper/gradhover_light_grey.gif')
   repeat-x;
   color:#339;
}


table.list td {
        background: none !important;
}


/* -- table_list_simple -- */


.fullwidth-list .component table.table_list_simple,
table.table_list_simple {
	text-align:left;
	border-collapse:collapse;
	margin:5px;
	padding:5px;
	font-size:9pt;
        height: 14pt;
        background-color:#fff;
}

.fullwidth-list .component table.table_list_simple tr,
table.table_list_simple tr {
    border-bottom:1px solid #CCCCCC;
    border-top: none;
    background-color:#fff;
}

.fullwidth-list .component table.table_list_simple tr.rowtitle td,
table.table_list_simple tr.rowtitle td {
    font-weight:bold;
    background-color:#E1E2E1;
    border-bottom: none;
    border-top: 1px solid #666;
    border-right:1px solid #666;
    border-left:1px solid #666;
    border-bottom: 1px solid #666;
    color: #333;
}

.fullwidth-list .component table.table_list_simple tr.rowtitle,
table.table_list_simple tr.rowtitle {
    border-bottom: none;
    border-right:1px solid #000000;
    border-left:1px solid #000000;
}

.fullwidth-list .component .table_list_simple td, 
.table_list_simple td {
    background-color:#fff;
    padding: 5px;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
}

/* ---- */

.filter-list {
	/* START NEW IDEBAR */
        position: relative;
        width: 200px;
        height: 200px;
        top: 200px;
        left:-37px;
        background-position:top left;
        background-repeat:repeat-y;	
	/* STOP NEW IDEBAR */
}

.filter-list-footer {
  height: 20px;
  clear: both;
}


.filter-block .margin-form .form-item-wrapper {
	padding: 0 0 10px;
}

.filter-block .margin-form .form-item-wrapper .form-label {
	text-align: left;
	position: relative; 
	float: none;
	padding-top: 0px;
	margin-left: 0em;
	font-weight: bold;
}

.filter-block .margin-form .form-button, .filter-block .margin-form .form-help-text {
	position: relative; 
	margin-left: 0em;
	padding-bottom: 8px;

}
.filter-block .margin-form .form-item-wrapper .form-widget {
        margin-left: 0em;
        padding-top: 0px;
}


/*  old styles */

    hr {height: 1px;}
    .pagedesriptionbar {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-Size: 10pt; color: #ffffff; background: #336699; background-color: #336699;}
    h1 {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-Size: large;}
    h2 {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-Size: medium; margin-top: 15px;}
    h3 {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-Size: small;}
    .tabsel {background-color: #336699; color: #ffffff;; font-weight: bold}
    .tabnotsel {background-color: #BBCFE1; color: #000000;; font-weight: bold}


.maintenancebar {
	font-family: verdana, arial, helvetica, sans-serif; 
	font-weight: bold; 
	font-Size: 10pt; 
	color: #ffffff;
	background: #FF0000; 
	background-color: #FF0000;
}

.brandfirst{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#320033; 
	font-weight: bold;
}

.brandsec{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#336699; 
	font-weight: bold;
}

    .productrow1 {font-family: verdana, arial, helvetica, sans-serif; font-size: 8pt; background-color: #DDDDDD; background: #DDDDDD;}
    .productrow2 {font-family: verdana, arial, helvetica, sans-serif; font-size: 8pt; background-color: #EEEEEE; background: #EEEEEE;}
    .header {font-family: verdana, arial, helvetica, sans-serif; font-Size: 9pt; font-weight: bold;; color: #336699}

    .titlerow  {font-family: verdana, arial, helvetica, sans-serif; font-Size: 10pt; background-color: #BBCFE1; background: #BBCFE1;}
    .list  {font-family: verdana, arial, helvetica, sans-serif; font-Size: 8pt;}

    .invoiceroweven {font-size: 9pt; background-color: #DDDDDD;}
    .invoicerowodd {font-size: 9pt; background-color: #EEEEEE;}

    .roweven {font-size: 8pt; background-color: #DDDDDD;}
    .rowodd {font-size: 8pt; background-color: #EEEEEE;}
    .rowplain {font-size: 8pt; background-color: #FFFFFF;}

    .form-label {font-size: 8pt; background-color: #FFF; padding-right:10px;padding-top: 5px;vertical-align: middle;}
    .form-widget {font-size: 8pt; background-color: #FFF;padding-top: 5px;vertical-align: middle;}
    .form-required-mark {color: #FF0000;}

    .form-element, 
    .component_body tbody tr {
	height:22px; 
        border-top: 1px solid #F0EDED;
        border-bottom: 1px solid #F0EDED;
	background-color: #fff;
	}

    .rowgreen {font-size:8pt; background-color: #00FF00 }
    .rowyellow {font-size:8pt; background-color: #FFFF00}
    .rowred {font-size:8pt; background-color: #FF0000}

    .form-error {font-size:8pt; color: #FF0000}
    .form-required-mark {font-size:8pt; color: #FF0000}

    .tablebody {font-size: 8pt; background-color: #FFFFFF;}

    .tableheader {
    	background-color: #EEEEEE;
        font-size: 8pt;
        line-height: 20px;
    }

    .tableheader th {
        padding: 0px 5px 0px 5px;
    }

    .table_list_page .tableheader {
		background-color: #E1E2E1;
		font-size: 9pt;
		line-height: 25px;
		color: #000000;
     }




    .list-even {font-size: 8pt; background-color: #DDDDDD;}
    .list-odd {font-size: 8pt; background-color: #EEEEEE;}
    .list-bold {font-size: 8pt; background-color: #E0E0E0; font-weight: bold }

    .small {font-family: verdana, arial, helvetica, sans-serif; font-Size: xx-small;}
    .vivcomm {color: #006600}
    .fabcomm {color: #000066}
    A.titlerow:link {color: #000000;}
    A.titlerow:visited {color: #000000;}
    A.titlerow:active {color: #000000;}  
    A.titlerow:hover  {color: #000000;}
    A.blacklink:link,  A.blacklink:visited, A.blacklink:active, A.blacklink:hover {color: #000000;}
    A.whitelink:link,  A.whitelink:visited, A.whitelink:active, A.whitelink:hover {color: #ffffff;}
    A.paginacion:link, A.paginacion:active, A.paginacion:visited {font-weight: bold; color: #000000; text-decoration: none;}    
    A.paginacion:hover {font-weight: bold; color: #000000; text-decoration: underline;}

    .headerBig {font-family: verdana, arial, helvetica, sans-serif; font-weight: bold; font-Size: small;}
    .rowfilestorage {background-color: #ecf5e5; text-align: left;}

    .contextbar  {
	color: #666; 
	font-family: verdana, arial, helvetica, sans-serif; 
	font-size: 8pt; 
	font-weight: normal;
    }
    A.contextbar:link, A.contextbar:visited, A.contextbar:active, A.contextbar:hover {
	color: #666; 
	font-family: verdana, arial, helvetica, sans-serif; 
	font-size: 8pt;
	font-weight: normal;
    }



/* Subsite Name */

#subsite-name { 
  font-weight: bold; 
  font-size: 120%;
  font-family: verdana; 
  padding-left: 8px;
}
a.subsite-name {
  color: #000000;
  text-decoration: none;
}
a.subsite-name:hover {
  color: #000000;
  text-decoration: none;
}

/* This wraps everything except site-header and site-footer, and is used to ensure proper margins */
/* Only used on non-tabbed (navbar and subnavbar) pages */

#page-body {
  margin-left: 8px;
  margin-right: 8px;
}



/* Second level tabs */

#subnavbar-div {
  border-bottom: 1px solid #666;
}

#subnavbar-container {
  height: 35px;
  width: 742px;
  position: relative;
}

#subnavbar {
  position: absolute;
  width: 720px;
  height: 21px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  right: 0px;
  bottom: -2px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 100%;
  font-weight: bold;
}

html>body #subnavbar { bottom: 0px }

#subnavbar .tab { 
  height: 16px;
  float: left; 
  background-color: #eeeeee; 
  border: 1px solid #666;
  padding: 2px 5px 2px 5px;
  margin: 0px 2px 0px 2px;
}
#subnavbar a {
  text-decoration: none;
  color: #000000;
}
#subnavbar a:hover {
  text-decoration: underline;
}
#subnavbar #subnavbar-here { 
  border-bottom-color: #ffffff;
  background-color: #ffffff;
}
#subnavbar #subnavbar-here a {
  color: #000000;
}


#subnavbar-body { 
  border-bottom: 1px solid #016799;
  border-left: 1px solid #016799;
  border-right: 1px solid #016799;
  background-color: #ffffff;
  clear: both;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

.bug-tracker-navbar {
  margin-top: -1.5em;
}

.list-filter {
  font-family: tahoma,verdana,arial,helvetica;
}
tr.list-filter-selected {
  background-color: #2E2E2E;
}
span.list-filter-selected {
  color: #ffffff;
}
.list-filter-header {
  font-family: tahoma,verdana,arial,helvetica;
  font-weight: bold;
}
.list-filter-section {
  font-family: tahoma,verdana,arial,helvetica;
  font-weight: bold;
  background-color: #bbbbff;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-bottom: 8px;
}
td.list-filter-pane {
  background-color: #fff;
  vertical-align: top;
}


td.list-list-pane {
  background-color: #ffffff;
  vertical-align: middle;
  padding-left: 10px;
}

table.list-tiny {
  font-family: tahoma, verdana, helvetica;
  font-size: 75%;
  border-collapse: collapse;
}


th.list-narrow a {
  color: #000000;
}

p.list-row {
  font-family: tahoma, verdana, helvetica;
  font-size: 85%;
}

span.list-label {
  color: #6f6f6f;
}

#sideBarTabImage, #sideBarTab {
    visibility: visible;
    opacity: 1;
}


/* XOWIKI */

div.xowiki-content table.dot_org_home thead tr td a:link,
div.xowiki-content table.dot_org_home thead tr td a:visited {
    color:#034e71;
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    font-weight:bold;
    text-decoration:none;
    border-bottom: 0.04em solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.04em;
    border-color:#b4b7b6;
}
div.xowiki-content table.dot_org_home tbody tr td a:link,
div.xowiki-content table.dot_org_home tbody tr td a:visited {
    color:#000000;
    text-decoration:none;
    border-bottom: 0.04em solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.04em;
    border-color:#b4b7b6;
    font-size:13px;
}

div.xowiki-content table.dot_org_home tbody tr td.box_header {
    color:#000000;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight:bold;
}

div.xowiki-content table.dot_org_home tbody tr td {
    font-size: 14px
}

div.xowiki-content  .po_areas {
    font-weight:bold}
}

#Contents {
	margin-left: -13px;
}

div.xowiki-content, 
div.xowiki-content p, 
.graphicTable td, 
div.xowiki-content ul li,
div.xowiki-content td
 {
        font-family:Arial,Helvetica,sans-serif;
        color:#333333;
        font-size:13px;
        line-height:140%;
        margin-top: 6px;
}

#left-col {
	margin-top:15px;
}

#right-col {
	margin-top:15px;
}


div.xowiki-content h1 {
        font-family:Arial,Helvetica,sans-serif;
        color:#424547;
        font-size:16px;
        font-weight:bold;
        line-height:26px;
        padding-left:0;
        text-decoration:none;
        border-bottom: solid silver 1px; color: #222222;
	padding-top:10px;
}

div.xowiki-content h2 {
        font-family:Arial,Helvetica,sans-serif;
        color:#424547;
        font-size:14px;
        font-weight:bold;
        line-height:26px;
        padding-left:0;
        text-decoration:none;
        border-bottom: solid silver 1px; color: #222222;
	padding-top:20px;
}

div.xowiki-content h3 {
        font-family:Arial,Helvetica,sans-serif;
        color:#424547;
        font-size:12px;
        font-weight:bold;
        line-height:26px;
        padding-left:0;
        text-decoration:none;
        border-bottom: solid silver 1px; color: #222222;
	padding-top:20px;
}

div.xowiki-content h4 {
    margin: 0;
}

div.xowiki-content ul.mktree, 
div.xowiki-content ul.mktree ul, 
div.xowiki-content ul.mktree li {
	padding-left: 3px;
        font-size:11px;
}

div.xowiki-content ul.mktree li.liClosed .bullet,
div.xowiki-content ul.mktree li.liOpen .bullet
{
	font-size:11px;
}

div.rightbox {
	margin-top: 2em;
	visibility: hidden;
}

div.xowiki-content ul {
	margin-bottom:0.8em;
}

div.xowiki-content hr {
	margin-top:1.5em;
}

#search-info p.subtitle {
	position:relative;
	font-weight: bold;
}

#wikicmds {
    top: -15px;
    font-family: verdana;
    font-size: 8pt;
}

#wikicmds a, #wikicmds a:visited, div.wiki-menu a {
    color: #666666;
    text-decoration: none;
}

.xowikiform_inv {
    visibility: hidden;
}

/* END XOWIKI*/


.fullwidth-list .component table .forumBar {
    margin-top:-3;
}

.component table.forumBar td  {
    background: #E1E2E1;
}

.component table.forumBar td a  {
    text-decoration: none;
    font-size:12pt;
    font-weight:bold;
    color:#000000;
    left:2pt;
    padding-top:3px;
}

.table_list_page table.forumBar td a  {
    text-decoration: underline;
    font-size:9pt;
    font-weight:normal;
    color:#235C96;
}

.table_list_page table.forumBar td  {
    background: #fff
}

.graphicTable td {
    padding: 5px 5px 5px 5px;
}

.item-footer {
    display: block;
}

.column {
	z-index:3000;
	padding: 10px 0px 10px 30px;
	background-color: #fff;
}

#register-login a:link {
	font-weight: bold;
}

.fullwidth-list .component table .table_indicators tr td {
	height:20pt;
	padding: 8px;
}

#intranetlogo {
	max-height: 63px;
}

#hours_confirmed_green a, #hours_confirmed_green a:visited  {
        color: #20A003;
}

#hours_confirmed_red {
        color: red;
}
#hours_confirmed_yellow a, #hours_confirmed_yellow a:visited {
        color: #F77809;
}

.calendar_table {
	width: 90%;
}

/*
.input {
    border: 1px solid #006;
    background: #ffc;
}
	
.input:hover {
    border: 1px solid #f00;
    background: #ff6;
}

*/

/* Buttons ]po[ 4.0 */

input.form-button40, 
input:hover.form-button40,
input:link.form-button40, 
a.form-button40, 
a:link.form-button40,
a:hover.form-button40 {
/*
    background-color:#D4D0C8;
    border:2px solid #b7b8b8;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-size:90%;
    text-decoration:none;
    font-weight:bold;
    color:#000000;
    cursor:pointer;
    padding: 2px 8px 2px 8px;
    font-family: Arial; 
    line-height:normal !important;
    vertical-align: middle;
*/
}

input.form-button40,
input:hover.form-button40,
input:link.form-button40 {
/*
    margin: 4px 0px 0px 0px;
*/
}

a.form-button40,
a:link.form-button40,
a:hover.form-button40 {
/*
    margin: 0px 5px 0px 5px;
    line-height:12px;
*/
}

.form-button40 button {
/*
      width:auto;
      overflow:visible;
      padding: 6px 0px 0px 0px;
*/
}

.form-button40 button[type]{
    /* padding:5px 10px 5px 7px; */
    /* line-height:17px; */ 
}

*:first-child+html button[type]{
     /* padding:4px 10px 3px 7px; */
}

.form-button40 img, .buttons a img{
/*
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
*/
}

select {
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
}

/* ??? */

th.list-narrow {
	padding: 5px;
}

/* calendar - weekends */

.cal-table-caption {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
}

#cal-table-day th, #cal-table-week th {
    background-color: #FFFFFF;
	font-size: 0.6em;
}

/* patch ExtJS grid */
.fullwidth-list .component_body table.x-grid-table tr {
    height: auto;
}

.x-grid-row-selected .x-grid-td {
    background-color: #fbf9f9;
}


/* notification bar */ 

.critical-notice {
    background-color: #FF0000;
    color: #333333;
    border: 2px #b81616;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    position:absolute;
    left:0;
    top:0px;
    z-index: 9999;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display:inline-block;
    line-height:25px;
}

.warning-notice {
    background-color: #FAF607;
    color: #333333;
    border: 2px #b81616;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    position:absolute;
    left:0;
    top:0px;
    z-index: 9999;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display:inline-block;
    line-height:25px; 
}

.feedback-notice {
    background-color: #2EFE2E;
    color: #333333;
    border: 2px #b81616;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    position:absolute;
    left:0;
    top:0px;
    z-index: 9999;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display:inline-block;
    line-height:25px;
}



/* Overwriting lists.css */

.fullwidth-list .component table.list-table thead th.list-table,
th.list-table, 
th.list-table-narrow {
   font-size: 10pt;
   color: #2e2e2e;
   background-color: #E1E2E1;
   font-weight: bold;
   border-bottom: 2px solid #CCCCCC;
   padding: 6px;
}

th.list-table a:link {
    color: #000000;
    text-decoration: underline;
}

.fullwidth-list .component table.list-table tbody td.list-table, 
td.list-table, 
td.list-table-narrow {
    border-bottom: 1px solid #CCCCCC;
    padding: 6px;
}

tr.last td {
    border-bottom: 2px solid #CCCCCC;
}

.backward_smaller_than a, .forward_greater_than a {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #666666;
}

.risk_matrix {
	padding-right: 5px;	
}

/* Compatibility with ExtJS */ 

.x-body {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 8pt;
   color: #000000;
}

#general_messages_icon {
    min-width: 20px;
}

.po_form_element_help {
    margin-top: 4px; 
    margin-bottom: 2px;
}





/* SMART MENU DIVIDER & Wrenches*/ 

ul.sm li.divider {
    background: transparent none repeat scroll 0 0;
    color: #24618e;
    padding: 5px 15px;
    line-height:4px;
}

ul.sm li.divider hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #999;
    margin: 0.5em 0;
    padding: 0; 
}

.sm-po-sub-menu-item {
    content:"";
    display: table;
    clear: both;
    width: 100%;
}

.sm-po-sub-menu-item-name {
    float: left;
    width: auto;
    max-width: 85%
}

.sm-po-sub-menu-item-wrench {
    float: right;
    width: 12px;
    max-width: 100%;
    margin-right: 3px;
    margin-top: 5px;
}

.sm-po-sub-menu-item-wrench img {
    height: auto;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .sm-po-sub-menu-item-wrench, 
    .sm-po-sub-menu-item-name {
        float: none;
        width: auto;
    }
}

.btn-po-small {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #336699;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
}

.btn-po-small:hover {
  background: #330033;
  text-decoration: none;
}

/* ExtJS */

.extjs-panel {
    background-color: #fbf9f9 !important; 
}


#header_skin_select {
    color: #666;
    font-size: 8pt;
    position: relative;
	display:inline;
    /*top: 25px;
    right: 118px;*/
	width:auto;
	height:auto; 
    display: inline;
}

#header_skin_select form {
    display: inline;
    position: relative;
    font-size: 8px;
	margin:0;
	padding:0;
}

#header_skin_select input {
    display: none;
    margin:0 0 0 0;
}

#header_skin_select select {
    background-color:#CFDBFF;
    border:1px solid #666666;
    color:#666666;
    font-family: Arial;
    font-size:8pt;
    height: 18px;
    width: 90px;
}

.portrait-container img 
{
    max-height:160px;
}